body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orangered;
}

section {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding: 5%;

}

.half-width img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 69, 2), rgb(252, 110, 85));
    padding: 12px 40px;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

.container2 {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;

}